<launch>
    
    <!-- Map server -->
    <arg name="map_file" default="/home/kk/map/aimijia_demo.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <node pkg="LEDTrack" type="position" name="position" args="0 $(find LEDTrack)/config/camPosi_cfg.json" output="log" >
    </node>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find LEDTrack)/config/rvizled.rviz" />

</launch>